<!DOCTYPE html>
<h3>Departamentos</h3>
<button class="btn btn-primary">Incluir Departamento</button>
<p *ngIf="departamentos.length === 0">
  Não existem departamentos para exibir.
</p>

<table class="table" *ngIf="departamentos.length > 0">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Sigla</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let departamento of departamentos">
      <td>{{departamento.Id}}</td>
      <td>{{departamento.Nome}}</td>
      <td>{{departamento.Sigla}}</td>
      <td>
        <button>Alterar</button>
        <button>Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
